header {
    background-image: linear-gradient(to bottom right, rgb(0, 176, 207), rgba(19, 245, 207, 0.692));
    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #30fff5a1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .toggle {
        color: white;
        display: inline-block !important;

    }

    .ul {
        width: 100%;
    }

    .ul li {
        display: block;
    }
}

.toggle {
    display: none;
}