header {
    background-image: linear-gradient(to bottom right, rgb(0, 176, 207), rgba(19, 245, 207, 0.692));
    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #30fff5a1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 655px) {
    .toggle {
        color: white;
        display: inline-block !important;
    }

    .mini-menu {
        display: inline-grid;
        //text-align: center;

        li {
            float: inherit;
            padding: 2px 0px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.363);
        }
    }
/*
    @media screen and (max-width: 306px) { 
        .logo {
            display: none;
        }
    }
*/
}

.toggle {
    display: none;
}

.hidden {
    display: none;
}
