<div class="home-container">
    <mat-grid-list cols="6">
        <mat-grid-tile colspan="1">
            <button mat-raised-button>GET STARTED</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis odio eget est tempus dignissim.
                Pellentesque dolor leo, tristique vitae enim ut, fermentum euismod lacus. Nulla ut velit suscipit,
                maximus turpis non, accumsan mi. Donec fringilla turpis at tempus consectetur. Nulla facilisis pellentesque porttitor.
                Sed tellus enim, hendrerit nec odio vitae, pellentesque eleifend est. Cras vehicula lobortis lobortis. Sed in nunc auctor, 
                dapibus massa tempor, vestibulum ligula. Ut in urna lacus. Proin sapien velit, tincidunt in arcu non, blandit lobortis nisl.
                Proin eros nisl, maximus in tristique in, lobortis sit amet est. Praesent fermentum nibh nec rutrum ultricies. 
                Praesent commodo libero sapien, id euismod est tincidunt at. Morbi finibus pellentesque convallis.
                Donec efficitur condimentum eros, sed blandit lorem feugiat eu. In tristique, ligula et accumsan maximus.
            </p>
        </mat-grid-tile>
    </mat-grid-list>

</div>