
<div class="cardList" fxLayout="row wrap"  fxLayoutAlign="flex-start">
  <div class="search-bar">
    <div class="search-model">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
    </div>
  </div>


  <div *ngFor="let image of images | filter:searchText" id="list-1"> 
    <div cdkDropList cdkDropListConnectedTo="viewer-container" (cdkDropListDropped)="drop(event, image)">
      <div cdkDrag id="{{image.id}}">
      <mat-card class="cardListItem">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{image.heading}}</mat-card-title>
          <mat-card-subtitle>{{image.subject}}</mat-card-subtitle>
        </mat-card-header>
        <ng-container >
          <img mat-card-image src="{{image.url}}">
        </ng-container>

        <mat-card-content>
          <p>{{image.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button [matMenuTriggerFor]="afterMenu">ADD TO CLASS</button>
          <mat-menu #afterMenu="matMenu" xPosition="after">
            <button mat-menu-item>Bioloogia</button>
            <button mat-menu-item>Füüsika</button>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
     </div>
    </div>
  </div>
</div>
