
<div class="cardList" fxLayout="row wrap"  fxLayoutAlign="flex-start"> 
  <div *ngFor="let image of images"> 
    <div cdkDropList>
      <div cdkDrag>
      <mat-card class="cardListItem">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Molekul</mat-card-title>
          <mat-card-subtitle>Keemia</mat-card-subtitle>
        </mat-card-header>
        <ng-container >
          <img mat-card-image src="{{image}}" >
        </ng-container>

        <mat-card-content>
          <p>Maecenas varius sit amet metus</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>ADD TO CLASS</button>
        </mat-card-actions>
      </mat-card>
     </div>
    </div>
  </div>
</div>
