
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }

  .cardList > *:not(:last-child) {
    .cardListItem {
      margin-right: 20px;
    }
  }

  /* Item sizing */
  .cardListItem {
    width: 200px;
    margin-top: 20px;
    flex: 0 1 calc(33.3% - 20px);
    cursor: move;
    transform: none !important;
  }

  /* medium size viewport */
  @media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 20px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 20px);
    }
  }

  /* small size viewport */
  @media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 20px;
    }
  }

